.server-explore {
  line-height: 1.5;
  padding-top: 2rem;
  padding-bottom: 2rem;

  h1 {
    margin-bottom: 0.5rem;
    font-size: 24px;
    font-weight: 600;
  }

  .lead {
    margin-bottom: 20px;
  }

  .applications-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(min(100%, 320px), 1fr));
    gap: 1rem;

    > a {
      text-decoration: none;
    }

    .applications-list__item {
      margin: unset;
      height: calc(100% - 15px * 2);
    }

    .desc-item {
      margin-bottom: 0.25rem;
    }
  }
}
